<!doctype html>
<html lang="ru">
<head>
</head>
<body>
    <div>Контроллер: {{ controllerName }}</div>
    <div>Страница: {{ pageName }}</div>
    <div>Экшен: {{ actionName }}</div>
    {% block content %}
    {% endblock %}
</body>
</html>
