.main {
    padding: 10rem 0;
    text-align: center;
}

input[type="file"] {
    display: inline-block;
}

.image-avatar {
    width: 100%;
    height: auto;
}

.image-small {
    width: 10rem;
    height: auto;
}

.error {
    color: red;
    text-align: center;
}

.debugbar {
    border: solid 1px red;
}
